body {
	background-image: url('../images/haha.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	display: flex;
  	min-height: 100vh;
  	flex-direction: column;
  	
}

main {
  flex: 1; /* Or flex-grow: 1;*/
}